# Entorno Virtual
.venv/
venv/
env/

# Base de datos
db.sqlite3
*.sqlite3

# Archivos multimedia subidos por usuarios
media/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de configuración con secretos (buena práctica para el futuro)
.env

# Backups de la base de datos
data_backup.json

db.sqlite3